@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5c5c5c;
    height: 100px;
    margin-bottom: 50px;
}
header #pesquisa{
    display: flex;
    width: 100%;
    margin-left: 10px;
}
header #pesquisa #saudação{
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

header #busca{
    display: flex;
    align-items: center;
    width: 80%;
}
header #busca input{
    width: 70%;
    height: 40px;
    border-radius: 10px;
    margin-left: 20px;
    border: 0;

    font-size: 25px;
    background-image: url(./assets/icons8-search-64.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-x: right;
    background-position-y: center;
}
header img{
    width: 80px;    
}

#lateral #filtro p{
    display: flex;
    align-items: center;
    color: #ff0000;
    font-size: 20px;
}
#lateral #filtro{
    display: flex;
    align-items: center;

    margin-top: 8px;
    margin-right: 20px;
    cursor: pointer;
    color: #ffffff;
    border: solid 2px;
    border-radius: 5px;
    height: 40px;

    transition: 0,3s;
}
#lateral #filtro img{
    width: 35px;
    margin: 0 10px 0 10px;
}


main #lista{
    max-width: 90%;
    margin: 10px auto;
}
main #lista #jogos{
    font-size: 50px;
    color: #756464;
    font-weight: 700;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}
main #lista #list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main #lista #list .encard{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 45%;
    height: 150px;

    margin: 25px 25px;
}
main #lista #list .encard .jogo img{
    width: 300px;
    height: 100%;
    cursor: pointer;
    color: #ffffff;
}
main #lista #list .encard .jogo .item{
    margin: 100 10px 100 10px;

    display: flex;
    flex-direction:column-reverse;
}
main #lista #list .encard .item p{
    font-family: 'Roboto', sans-serif;    
    font-weight: 400;
    font-size: 15px;
    margin:20px 0px;
}
main #lista #list .encard .item .descrição{
    margin: auto 10px;
}