@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
#barra a{
    text-decoration: none;
    color: #000;
}
body{
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
    top: 100px;
    position: absolute;
    width: 100%;
}
img{
    width: 40px;

}
input[type="checkbox"]{
    display: none;
}
nav{
    background-color: rgba(16, 16, 16, .5);
    width: 200px;
    height: 100%;
    left: -200px;
    position: absolute;
    transition: all .10s;
}
input[type="checkbox"]:checked ~ nav{
    transform: translateX(200px);
}
#barra a{
    display: block;
    padding: 20px 5px;
    color: #ffffff;
}
#barra a:hover{
    background-color: rgb(176, 224, 230);
    color: #000;
}
label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5c5c5c;
    height: 100px;
}
header #pesquisa{
    display: flex;
    width: 100%;
    margin-left: 10px;
}
header #pesquisa #login{
    display: flex;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 25px;

    margin-right: 10px;
    cursor: pointer;
}
header #pesquisa #saudação #home, #login:hover{
    color: #ff0000;
    transition: 0.05s;
    opacity: 1.5;

}
header #pesquisa #saudação #home{
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #000;
    text-decoration: none;
}

header #busca{
    display: flex;
    align-items: center;
    width: 80%;
}
header #busca input{
    width: 70%;
    height: 40px;
    border-radius: 10px;
    margin-left: 20px;
    border: 0;

    font-size: 25px;
    background-image: url(./assets/icons8-search-64.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-x: right;
    background-position-y: center;
}
header img{
    width: 80px;    
}
body .row{
    margin-top: 100px;
    position: absolute;
}

/*#hotbar {
    display: flex;
    justify-content: center;
    padding:0px;
    margin:0px;
    float: left;
    width: 100%;
    background-color:#EDEDED;
    list-style:none;
    font:80% Tahoma;
}


#hotbar a {
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    padding: 2px 10px;
    float:left;
}

#hotbar a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}

#hotbar a{
    text-decoration: none;
}*/

main #lista{
    max-width: 90%;
    margin: 10px auto;
}
main #lista #jogos{
    font-size: 50px;
    color: #756464;
    font-weight: 700;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}
main #lista #list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main #lista #list .encard{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 45%;
    height: 150px;

    margin: 25px 25px;
}
main #lista #list .encard .jogo img{
    width: 300px;
    height: 100%;
    cursor: pointer;
    color: #ffffff;
}
main #lista #list .encard .jogo .item{
    margin: 100 10px 100 10px;

    display: flex;
    flex-direction:column-reverse;
}
main #lista #list .encard .item p{
    font-family: 'Roboto', sans-serif;    
    font-weight: 400;
    font-size: 15px;
    margin:20px 0px;
}
main #lista #list .encard .item .descrição{
    margin: auto 10px;
}
